* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: url(/fone1.png);
    display: flex;  
}

.title {
    font-size: 50px;
    color: #1c4344;
}

.title-variebls {
    font-size: 40px;
    color: #c3caca;
    margin-top: 15%;
}

.title-variebls li {
    margin: 5%;
}

.photo {
    width: 700px;
    height: 500px;
}

.leftSideWrapper {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.rightSideWrapper {
    margin-top: 13%;
    margin-left: 18%;
}

.inputColor {
    margin-left: 20px;
    width: 80px;
    height: 50px;
    border: 5px solid #1c4344;
    border-radius: 10px;
}
